# Set as default eol=NL so windows can create cross platform src tarball
*     	  text=auto

# Make sure these files have eol=CRLF
*.vcproj  text eol=crlf
*.cmd	  text eol=crlf
*.bat	  text eol=crlf
*.sln	  text eol=crlf
*.asc	  binary
